.DS_Store
data/*
config/.env
__pycache__/
*.pyc
archive/*
# Ignore PDF files and sample selection data
src/benchmarking/scripts/sample_selection/sampled_pdfs/
src/benchmarking/scripts/sample_selection/sample_from_pdfs/
*.pdf